{% extends "layout.html" %}

{% block aside %}

{% endblock %}

{% block content %}
    <h2>Are you sure you want to delete video entry {{ video_m.id }}?</h2>
    <strong>filename: </strong>{{ video_m.full_filename }}<br>
    <strong>title: </strong>{{ video_m.title }}<br>
    <br>
    <form method="post" action="{{ url_for("client.delete_video", video_id=video_m.id) }}">
        <input type="checkbox" checked name="also_videofile" />Also delete the video file <strong>{{ video_m.full_filename }}</strong>
        <br><br>
        <input type="submit">
        <a href="{{ request.referrer or url_for('client.home') }}">Go back</a>
    </form>
{% endblock %}