{% extends "layout.html" %}

{% block aside %}

{% endblock %}

{% block content %}
    <h3>This video actions: {% include "this_video_actions.html" %}</h3>
    <h2>Cut a video</h2>
    <small>Either in seconds since beginning or in [hh:]mm:ss[.fff] format</small>
    <form method="post" action="{{ url_for("client.cut_video", video_id=video_m.id) }}">
        <input type="text" placeholder="start time" name="start_time" id="start_time_input"
               value="{{ request.args.start_time or 0 }}" required/>
        <input type="text" placeholder="end time" name="end_time" id="end_time_input"
               value="{{ request.args.end_time or video_m.duration }}" required/>
        <input type="text" placeholder="(opt) output filename" name="output_filename"/>
        <input type="submit">
    </form>
    <br>
    {% include "cut_video_scenes.html" %}
    <br>
    <button id="set_start_btn">Set start ^</button>
    <button id="set_end_btn">Set end ^</button>
{% endblock %}

{% block script %}
    <script>

        $(document).ready(function () {
            $('#set_start_btn').click(function () {
                $('#start_time_input').val($('#video_el')[0].currentTime);
            });
            $('#set_end_btn').click(function () {
                $('#end_time_input').val($('#video_el')[0].currentTime);
            });
        });

    </script>
{% endblock %}