<table>
    <tr>
        <td style="vertical-align:top; min-width: 36em;">
            <video id="video_el" controls>
                <source src="{{ url_for("client.serve_media", filename=video_m.serve_path) }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <input type="range" min="1" max="9" step="1" value="2" oninput="changeRate(this.value)"
                   onchange="changeRate(this.value)" list="steplist"><span class="current-rate">1.0</span>x
            <datalist id="steplist">
                <option data-speed="0.0">1</option>
                <option data-speed="1.0">2</option>
                <option data-speed="1.25">3</option>
                <option data-speed="1.5">4</option>
                <option data-speed="2.0">5</option>
                <option data-speed="3.0">6</option>
                <option data-speed="4.0">7</option>
                <option data-speed="6.0">8</option>
                <option data-speed="8.0">9</option>
            </datalist>
            <br>
            <button id="set_start_btn">Set start ^</button>
            <button id="set_end_btn">Set end ^</button>
            <h3>Scenes</h3>
            <table>
                {% for scene in video_m.scenes %}
                    <tr>
                        <td>
                            <a href="#{{ scene.start_s }}" data-seconds="{{ scene.start_s }}"
                               class="gototime">{{ scene.start_s|fmt_ts }}</a> -
                            <a href="#{{ scene.end_s }}" data-seconds="{{ scene.end_s }}"
                               class="gototime">{{ scene.end_s|fmt_ts }}</a>:

                            <span>{{ scene.description }}</span>
                            <form method="post" action="{{ url_for("client.scene_edit", scene_id=scene.id) }}">
                                <input type="text" value="{{ scene.description }}" name="description"/>
                                <input type="submit">
                            </form>
                        </td>
                        <td>
                            <img src="{{ url_for("client.serve_media", filename=scene.screenshot.serve_path) }}"
                                 style="width:25%;"/>
                            <a href="{{ url_for("client.scene_delete", scene_id=scene.id) }}">[x]</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
        <td style="vertical-align:top;">
            <h3>Descriptions</h3>
            <table>
                {% for td in time_descriptions %}
                    <tr>
                        <td>
                            <a href="#{{ td.time_s }}" data-seconds="{{ td.time_s }}"
                               class="gototime">{{ td.time_s|fmt_ts }}</a>:
                            <span>{{ td.description }}</span><br>

                            <form method="post"
                                  action="{{ url_for("client.time_description_edit", time_description_id=td.id) }}">
                                <input type="text" value="{{ td.description }}" name="description"/>
                                <input type="submit">
                            </form>
                        </td>
                        <td>
                            <img src="{{ url_for("client.serve_media", filename=td.screenshot.serve_path) }}"
                                 style="width:25%;"/>
                            <a href="{{ url_for("client.time_description_delete", time_description_id=td.id) }}">[x]</a>
                        </td>
                    </tr>
                    </li>
                {% endfor %}
            </table>

        </td>
    </tr>
</table>