{% extends "layout.html" %}

{% block aside %}

{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for("client.download") }}">
        <input type="text" placeholder="enter youtube url"/>
        <input type="submit">
    </form>
{% endblock %}