{% extends "layout.html" %}

{% block aside %}

{% endblock %}

{% block content %}
    <h2>Download a youtube video</h2>
    <form method="post" action="{{ url_for("client.download") }}">
        <input type="text" placeholder="enter youtube url" name="youtube_url" required
               value="{{ request.args.youtube_url }}"/>
        <input type="text" placeholder="enter a filename" name="filename" required
               value="{{ request.args.filename }}"/>
        <input type="submit">
    </form>
    <br>
    <h2>Import a video</h2>
    <form method="post" action="{{ url_for("client.import_video") }}">
        <input type="text" placeholder="enter old filepath" name="old_filepath" required
               value="{{ request.args.old_filepath }}"/>
        <input type="checkbox" name="is_move"> Move? <small>(default is Copy)</small>
        <input type="text" placeholder="(opt) new filename (no ext)" name="new_filename"
               value="{{ request.args.new_filename }}"/>
        <input type="submit">
    </form>
    <br><br>
    <h2>Videos</h2>
    {{ videos_table }}
{% endblock %}