{% extends "layout.html" %}

{% block aside %}

{% endblock %}

{% block content %}
    <h3>This video actions: {% include "this_video_actions.html" %}</h3>
    <h2>Generate [intro] + video + [outro] for {{ video_m.filename }}</h2>
    <form method="post" action="{{ url_for("client.gen_intro_outro_video", video_id=video_m.id) }}">
        <label>Intro:</label>
        <select name="intro_type">
            <option value="">None</option>
            <option value="cb_presents">Curious Bunch Представят</option>
        </select>
        <select name="outro_type">
            <option value="">None</option>
            <option value="cb_outro">Curious Bunch Outro</option>
            <option value="cb_outro_dani">Curious Bunch Outro + Дани</option>
        </select>
        <input type="text" placeholder="(opt) output filename" name="output_filename"/>
        <input type="submit">
    </form>
    <br>
{% endblock %}