<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Auto Youtube</title>
  <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('client.static', filename='favicons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96"
        href="{{ url_for('client.static', filename='favicons/favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('client.static', filename='favicons/favicon-16x16.png') }}">
  <link href="{{ url_for('client.static', filename='styles.css') }}" rel="stylesheet">
  <style type="text/css">
    body {
      font-family: Open Sans, Arial, sans-serif;
      color: #444;
      padding: 0 1em;
    }

    main {
      max-width: 1200px;
      margin: 0 auto;
    }

    nav {
      position: fixed;
      top: 0;
      background: white;
      width: 100%;
    }

    @media (min-width: 1400px) {
      main {
        margin: 0 150px;
      }

      aside {
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
        padding: 1em;
      }

      #archive-container {
        display: block !important;
      }

    }

    .logo {
      top: 10px;
      position: relative;
      right: 8px;
    }

    .main-input {
      width: 100%;
      padding: 0.5em;
      font-family: Open Sans, Arial sans-serif;
      font-size: 1em;
      box-sizing: border-box;
    }

    blockquote > h1 {
      font-size: 2em;
    }

    blockquote > h2 {
      font-size: 1.5em;
    }

    blockquote > h3 {
      font-size: 1.25em;
    }

    cite:before {
      content: "\2014 ";
    }

    cite {
      font-size: 0.8em;
    }

    .search-form {
      display: inline;
    }

    .flash {
      padding: 4px;
      margin: 4px;
      top: 1em;
      position: relative;
    }

    .flash.error {
      border: 1px solid #f22;
      background-color: #faa;
      color: #f22;
    }

    .flash.message, .flash.info {
      border: 1px solid #28f;
      background-color: #cef;
      color: #28f;
    }

    .flash.success {
      border: 1px solid #2f8;
      background-color: #cfe;
      color: #094;
    }

    .danger {
      color: #f22;
    }

    .pull-right {
      float: right;
    }

    .highlight-search {
      background-color: #ffffdd;
      padding: 10px;
    }

    code {
      background-color: #f5f5f5;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 2px;
    }

    .codehilite {
      background-color: #f5f5f5;
      border: 1px solid #ddd;
      padding: 0 12px;
    }

    pre {
      white-space: pre-wrap;
    }

    table {
      border-spacing: 0;
      border-collapse: collapse;
    }

    table tr {
      background-color: #fff;
      border-top: 1px solid #aaa;
    }

    table tr:nth-child(2n) {
      background-color: #f5f5f5;
    }

    table th, table td {
      padding: 6px 12px;
      border: 1px solid #ddd;
    }

    .blogpost {
      margin-bottom: 200px;
    }

    .blogpost img {
      max-width: 700px;
      max-height: 400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .vertical-padding {
      height: 80px;
    }

    .social-icon {
      width: 16px;
      height: 16px;
    }

    #archive-container {
      max-width: 400px;
      min-width: 400px;
    }

    video {
        width: 100% !important;
        height: auto !important;
    }

  </style>
  {% block style %}{% endblock %}
</head>
<body>
<nav>
  {% include "navigation.html" %}
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="vertical-padding"></div>
<aside>
  {% block aside %}{% endblock %}
</aside>
<main>
  {% if ctx and ctx.messages %}
    {% for message in ctx.messages %}
      <div class="flash {{ message.type.value }}">
        <a href="/messages/{{ message.id }}/dismiss"
           style="float:right;">x</a>
        {{ message.body|safe }}
      </div>
    {% endfor %}
  {% endif %}
  {% block content %}{% endblock %}
</main>
<script src="{{ url_for('client.static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('client.static', filename='js/jquery-ui.js') }}"></script>
<script src="{{ url_for('client.static', filename='js/main.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>
