{% extends "layout.html" %}

{% block aside %}

{% endblock %}

{% block content %}
    <div style="width: 100%; height: 100px; border: 5px solid black;" id="container">
        <div style="width: 10px; height: 90px; border: 5px solid red;" id="bar"></div>
    </div>
    <div style="width: 100%; height: 80px; border: 5px solid black;" id="time_container">

    </div>
{% endblock %}

{% block script %}
    <script>
        function formatTime(number) {
            var sec_num = parseInt(number, 10); // don't forget the second param
            var hours = Math.floor(sec_num / 3600);
            var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
            var seconds = sec_num - (hours * 3600) - (minutes * 60);

            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            return hours + ':' + minutes + ':' + seconds;
        }

        function logslider(position) {
            // position will be between 0 and 100
            var minp = 0;
            var maxp = 100;

            // The result should be between 100 an 10000000
            var minv = Math.log(100);
            var maxv = Math.log(10000000);

            // calculate adjustment factor
            var scale = (maxv - minv) / (maxp - minp);

            return Math.exp(minv + scale * (position - minp));
        }

        $(document).ready(function () {

            var total_time = {{ time }};
            var markings = 10;
            var step = total_time / markings;
            for (var i = 0; i <= markings; i++) {
                var marking_time = i * step;
                console.log(marking_time + " - " + formatTime(marking_time))
            }


            var containmentLeft = $("#container").position().left + parseInt($("#container").css("border-left-width"));
            var containmentRight = containmentLeft + $("#container").width() - $("#bar").width() - parseInt($("#container").css("border-right-width")) - parseInt($("#bar").css("border-right-width"));
            $('#bar').draggable({axis: 'x', containment: [containmentLeft, 0, containmentRight, 0]});

            $('#bar').on('dragstop', function () {

                var h = $('#bar').css('top');
                var c = $('#container').height();

                h = parseInt(h, 10);

                var bH = c - h;

                $('#top').height(h);

                $('#bottom').css({'top': 5 + h, 'height': bH});

            });
        });
    </script>
{% endblock %}