<a href="{{ url_for('client.import_video') }}">Import</a> |
<a href="{{ url_for('client.timeit') }}">TimeIt</a> |
<a href="{{ url_for('client.cut') }}">Cut</a> |
<a href="{{ url_for('client.intro_outro') }}">Intro/Outro</a> |
<a href="{{ url_for('client.thumbnail') }}">Thumbnail</a> |
<a href="{{ url_for('client.upload') }}">Upload</a> |
<a href="{{ url_for('client.extract_audio') }}">Extract Audio</a> |

<div style="float:right; right: 20px; position: relative;">
    <a href="{{ url_for('client.list_tasks') }}">Tasks</a> |
    <a href="{{ url_for('client.start_task', task_name="long_running_task") }}">Start task</a> |
</div>
