{% extends "layout.html" %}

{% block aside %}

{% endblock %}

{% block content %}
    <p><strong>Status:</strong>{{ async_task.status }}</p>
    <p><strong>Result:</strong>{{ async_task.result }}</p>
    <p><strong>Task ID:</strong><span id="task_uuid">{{ task.uuid }}</span></p>
    <p><strong>Task name:</strong>{{ task.name }}</p>
    <p><strong>Task kwargs:</strong>{{ task.kwargs }}</p>
    <p><strong>Task out:</strong><span id="task_out"></span></p>
{% endblock %}

{% block script %}
    <script src="{{ url_for('client.static', filename='js/socket.io.js') }}"></script>
    <script>
        var task_uuid = $('#task_uuid').text();

        function connectServer() {
            socket = io.connect();
            socket.on('s_connect', function (e) {
                console.log("server connected");
            });

            socket.emit("start_tail", {task_uuid: task_uuid});

            socket.on('s_start_tail', function (e) {
                console.log('server start tail', e);
            });

            socket.on('s_tail', function (o) {
                console.log('server tail', o);
                $('#task_out').text(o.stdout);
            });

            socket.on('s_disconnect', function (e) {
                console.log('server disconnected', e);
            });
        }

        connectServer()
    </script>
{% endblock %}