<a href="{{ url_for('client.timeit_video', video_id=video_m.id) }}">TimeIt</a> |
<a href="{{ url_for('client.cut_video', video_id=video_m.id) }}">Cut</a> |
<a href="{{ url_for('client.intro_outro_video', video_id=video_m.id) }}">Intro/Outro</a> |
<a href="{{ url_for('client.thumbnail_video', video_id=video_m.id) }}">Thumbnail</a> |

{% if video_m.source_type == "UPLOAD" and video_m.youtube_vid %}
    <a href="{{ url_for('client.youtube_manage', video_id=video_m.id) }}">Youtube Manage</a> |
{% else %}
    <a href="{{ url_for('client.upload_video', video_id=video_m.id) }}">Upload</a> |
{% endif %}