{% extends "layout.html" %}

{% block aside %}

{% endblock %}

{% block content %}
    <h3>This video actions: {% include "this_video_actions.html" %}</h3>
    <h2>Thumbnail a video</h2>
    <form method="post" action="{{ url_for("client.take_screenshot_video", video_id=video_m.id) }}">
        <label>Take a screenshot:</label>
        <input type="text" placeholder="time" name="time" id="time_input"
               value="{{ request.args.time or 0 }}"/>
        <input type="text" placeholder="(opt) output filename" name="output_filename"/>
        <input type="submit">
    </form>
    <h3>Generate thumbnail</h3>
    <table>
        <tr>
            <td style="vertical-align: top; min-width: 36em;" rowspan="2">
                <video id="video_el" controls>
                    <source src="{{ url_for("client.serve_media", filename=video_m.serve_path) }}"
                            type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <form method="post" action="{{ url_for("client.gen_thumbnail_video", video_id=video_m.id) }}">
                    {#                    <label>Background image type:</label>#}
                    {#                    <select name="bg_img_type">#}
                    {#                        <option value="screenshot">Screenshot</option>#}
                    {#                        <option value="image">Image</option>#}
                    {#                    </select>#}
                    {#                    <input type="text" placeholder="Background image name" name="bg_img_fname"#}
                    {#                           value="lubo_01_cb_presents_cb_outro_145.605511"#}
                    {#                    /><br>#}
                    <input name="bg_img_type" value="screenshot" type="hidden"/>
                    <select name="bg_img_fname">
                        {% for scr in video_m.screenshots %}
                            <option value="{{ scr.filename }}">{{ scr.filename }}</option>
                        {% endfor %}
                    </select>
                    <label>Label:</label><br>
                    <textarea type="text" placeholder="Label text" name="label_text">Curious Bunch</textarea>
                    <br>
                    <label>Font:</label>
                    {% if not fonts %}
                        <a href="{{ url_for("client.generate_fonts") }}">Generate fonts</a>
                    {% else %}
                        <a href="{{ url_for("client.serve_media", filename="images/fonts.png") }}">see fonts</a>
                        <select name="label_font">
                            {% for font in fonts %}
                                <option value="{{ font.filename }}"
                                        {% if font.family == "Arial" and font.style == "Bold" %}
                                        selected="selected"
                                        {% endif %}>
                                    {{ font.family }} - {{ font.style }}</option>
                            {% endfor %}
                        </select>
                        <input type="number" placeholder="Label font" name="label_font_size" value="120"/><br>
                        <a href="{{ url_for("client.generate_fonts") }}">regen fonts</a>
                    {% endif %}
                    <br>
                    <label>Color FG:</label>
                    <input type="color" placeholder="Label foreground color" name="label_fg_color" value="#eeeeee"/><br>
                    <label>Color BG:</label>
                    <input type="color" placeholder="Label background color" name="label_bg_color" value="#ee3300"/><br>
                    <label>Label Postion</label>
                    <input type="text" placeholder="Label postions" name="label_pos" value="640:670-1990:970"/><br>
                    <label>padding:</label>
                    <input type="number" placeholder="Label padding" name="label_pos" value="20"/><br>
                    <label>Output Filename</label>
                    <input type="text" placeholder="(opt) output filename" name="output_filename"/><br>
                    <input type="submit">
                </form>

            </td>
            <td style="min-width:5em; vertical-align:top;">
                <h3>Thumbnails</h3>
                <table>
                    {% for thmb in video_m.thumbnails %}
                        <tr>
                            <td>
                                <a href="{{ url_for('client.thumb_delete', thumb_id=thmb.id) }}">del</a>
                                <img src="{{ url_for("client.serve_media", filename=thmb.serve_path) }}"
                                     style="width:75%;"/>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Screenshots</h3>
                <table>
                    <tr>
                        <td style="min-width:12em; vertical-align:top;">
                            <table>
                                {% for scr in video_m.screenshots %}
                                    <tr>
                                        <td>
                                            <a href="#{{ scr.time_s }}" data-seconds="{{ scr.time_s }}"  class="gototime">{{ scr.time_s|fmt_ts }}</a> |
                                            <a href="{{url_for("client.screenshot_delete", screenshot_id=scr.id) }}">[x]</a> |
                                            <br>
                                            <img src="{{ url_for("client.serve_media", filename=scr.serve_path) }}"
                                                 style="width:50%;"/>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $("#video_el").on(
                "timeupdate",
                function (event) {
                    $('#time_input').val(this.currentTime);
                    onTrackedVideoFrame(this.currentTime, this.duration);
                });
        });

    </script>
{% endblock %}