{% extends "layout.html" %}

{% block aside %}

{% endblock %}

{% block content %}
    <h3>This video actions: {% include "this_video_actions.html" %}</h3>
    <h2>Time a video</h2>
    <input type="text" placeholder="time" id="human_time_input" value="00:00" />
    <form method="post" action="{{ url_for("client.add_time_description", video_id=video_m.id) }}">
        <input type="hidden" placeholder="time" name="time" id="time_input"
               value="{{ request.args.time or 0 }}" />
        <input type="text" placeholder="description" name="description" id="description_input"/>
        <input type="submit">
    </form>
    {% include "time_video_scenes.html" %}
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $("#video_el").on("timeupdate", function () {
                var seconds = this.currentTime;
                $('#time_input').val(seconds);
                $("#human_time_input").val(seconds_to_human(seconds));
            });
            $('#time_input').change(function () {
                var seconds = $(this).val();
                $("#human_time_input").val(seconds_to_human(seconds));
                gototime(seconds);
            });
            $('#human_time_input').change(function () {
                var seconds = human_to_seconds($(this).val());
                $("#time_input").val(seconds);
                gototime(seconds);
            });
        });

    </script>
{% endblock %}