{% extends "layout.html" %}

{% block aside %}

{% endblock %}

{% block content %}
    <h3>This video actions: {% include "this_video_actions.html" %}</h3>
    <h2>Upload a video</h2>

    <table>
        <tr>
            <td>
                <form method="post" action="{{ url_for("client.upload_video", video_id=video_m.id) }}">
                    <label>Title:</label>
                    <input type="text" placeholder="Title" name="title"/><br><br>

                    <label>Thumnail:</label>
                    <select name="thumbnail_id">
                        {% for thumb in video_m.thumbnails %}
                            <option value="{{ thumb.id }}">{{ thumb.filename }}</option>
                        {% endfor %}
                    </select><br><br>
                    <label>Privacy:</label>
                    <select name="privacy">
                        <option value="unlisted">unlisted</option>
                        <option value="public">public</option>
                        <option value="private">private</option>
                    </select><br><br>
                    <label>playlist_id:</label>
                    <input type="text" placeholder="(opt) playlist_id" name="playlist_id"/><br><br>
                    <textarea placeholder="description" name="description" rows="40" cols="80">

=====

Гледайте ни и участвайте НА ЖИВО в четвъртъците от 20:00 българско време.

Уебсайт: https://curiousbun.ch/
Туитър: https://twitter.com/Curious_Bunch
Фейсбук: https://www.facebook.com/CuriousBun

Подкаст в Spotify: https://open.spotify.com/show/6xtkoQ5eiBV2A8I80u2QYA
Подкаст в Apple: https://podcasts.apple.com/gb/podcast/what-happens-when/id1469784296
Подкаст в Stitcher: https://www.stitcher.com/podcast/curious-bunch/what-happens-when
        </textarea>
                    <input type="submit">
                </form>
            </td>
            <td style="min-width:12em; vertical-align:top;">
                <video id="video_el" controls>
                    <source src="{{ url_for("client.serve_media", filename=video_m.serve_path) }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <table>
                    {% for thumb in video_m.thumbnails %}
                        <tr>
                            <td>
                                <p>{{ thumb.filename }}</p><br>
                                    <img src="{{ url_for("client.serve_media", filename=thumb.serve_path) }}"
                                         style="width:50%" ;/>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            </td>
        </tr>
    </table>
{% endblock %}