{% extends "layout.html" %}

{% block aside %}

{% endblock %}

{% block content %}
    <h3>
        <a href="https://youtu.be/{{ video_m.youtube_vid}}" target="_blank">Watch</a> |
        <a href="https://studio.youtube.com/video/{{ video_m.youtube_vid}}/edit" target="_blank">Edit</a> |
        <a href="https://www.youtube.com/endscreen?v={{video_m.youtube_vid}}&nv=1/edit" target="_blank">Endscreen</a> |
    </h3>
    <img src="{{ url_for("client.serve_media", filename=video_m.set_thumbnail.serve_path) }}" style="width:200px;" />
    <p><strong>Title:</strong> {{ video_m.title }}</p>
    <p><strong>Description:</strong> {{ video_m.description }}</p>
{% endblock %}